-- AlterTable
ALTER TABLE "Automovil" ADD COLUMN     "extintor" TIMESTAMP(3),
ADD COLUMN     "licenciaTransito" TIMESTAMP(3),
ADD COLUMN     "revisionTecnomecanica" TIMESTAMP(3),
ADD COLUMN     "soat" TIMESTAMP(3),
ADD COLUMN     "tarjetaOperacion" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "Conductor" ADD COLUMN     "licenciaConduccion" TIMESTAMP(3);

